<!DOCTYPE html>
<html>
  <head>
    <title><%#= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="main-body">
    <div class="header">
    <%= render 'sample_app/header' %>
    </div>
    <%= yield %>
  </body>
</html>
